<%= form_tag deputados_path, method: 'get', enforce_utf8: false do %>
  <div class="form-group" >
    <div class="input-group">
      <%= text_field_tag :q, params[:q],
        {
          class: 'form-control',
          placeholder: 'Procure por um deputado',
          autocomplete: 'off',
          autofocus: current_page?(root_path)
        }
      %>

      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" title="Iniciar uma busca">Cavar</button>
      </span>
    </div>
    <span class="help-block">Busque por nome, partido, estado, fornecedor, CPF, CNPJ... </span>
  </div>
<% end %>
