<div class='jumbotron'>
  <div class="container">

    <div class="row">
      <div class="center-box">
        <% unless(current_page?(controller: 'deputados', action: :index)) %>
          <div id="logo" >
            <a href="<%= root_path %>" >
              <%= image_tag 'peba_logo.png' %>
            </a>
          </div>
        <% end %>

        <div id="search-form" class="peba-search col-lg-8 col-sm-10">
          <%= render 'partials/search_form' %>
        </div>
      </div>
    </div>

    <% unless(current_page?(controller: 'deputados', action: :index)) %>
      <div class="row" >
        <div id="info" class="col-lg-12" >
          <a href="<%= aleatorio_path %>" class="btn btn-default" accesskey="a">
            Cavada Aleatória
          </a>
        </div>
      </div>
    <% end %>

  </div>
</div>
