<iframe src="//www.facebook.com/plugins/like.php?href=<%= url %>&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=379390102214515" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;width:140px;padding-left:40px" allowTransparency="true"></iframe>

<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-url="<%= url %>"
  data-via="tocadopeba">
  Tweet
</a>

<a href="whatsapp://send"
  data-text="<%= description %>"
  data-href="<%= url %>"
  class="wa_btn wa_btn_s"
  style="display:none">
  Compartilhar
</a>
