<div class="container">
	
	<%= render 'partials/search_form' %>

	<div class="row" >
		<div id="info" class="col-lg-12" >
			<a href="<%= aletaroio_path %>" class="btn btn-default" >
				Cavada Aleatória
			</a>
		</div>
	</div>

	<div class="row" >
		<div class="col-lg-12" id="social-share" >
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpeba.teresinahc.org&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=379390102214515" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;width:100px" allowTransparency="true"></iframe>
			<a class="twitter-share-button"
				href="https://twitter.com/share"
				data-url="https://dev.twitter.com"
				data-via="your_screen_name">
				Tweet
			</a>
			<a href="whatsapp://send" data-text="Peba - Indexador de dados públicos" data-href="http://peba.teresinahc.org" class="wa_btn wa_btn_s" style="display:none">Compartilhar</a>
		</div>
	</div>

</div>