<div class="container">
	
	<%= render 'partials/search_form' %>

	<div class="row" >
		<div id="info" class="col-lg-12" >
			<a href="<%= aletaroio_path %>" class="btn btn-default" >
				Cavada Aleatória
			</a>
		</div>
	</div>
</div>