<%= render partial: 'partials/search_cover' %>

<div class='container'>

  <div class='row' >
    <!-- <div class='col-gl-12' >
      <div id='video-wrapper' >
        <iframe width='502' height='282' src='https://www.youtube.com/embed/96meq3ACiCk' frameborder='0' allowfullscreen></iframe>
      </div>
    </div> -->

    <div class='col-gl-12' >
      <section id='graficos'>
        <h3 class='subtitle'>Gastos Anuais Registrados</h3>
        <div class='grafico' id='gasto-total-por-mes' data-url='<%= gasto_total_path %>'></div>
      </section>
    </div>
  </div>
</div>
