// ===================================================//
//                                                    //
//                      COLORS                        //
//                                                    //
// ===================================================//

$dark-gray: #333;
$light-gray: #ededeb;
$amber: #FDCA01;

// ===================================================//
//                                                    //
//                       MISC                         //
//                                                    //
// ===================================================//

$pattern-background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAOElEQVQIW2M0Njb+z4AFMIIk7t279xwkp6SkJAlTA5f4////M2VlZWMUCZxGIUvAjAUbhS4BMhYAZUMgfGeWM+EAAAAASUVORK5CYII=) repeat;
$font-size: 14px;
