@import '_variables';
@import 'bootstrap/_variables';

@media (min-width: 768px) {
  footer .pull-right {
    display:block;
  }
}

footer {
  margin-top: 15rem;
  background-color: $dark-blue;

  .body {
    min-height: 100px;
    padding: 3rem;

    h4 {
      color: rgba(255,255,255,.8);
    }

    ul {
      margin:0; padding: 0;
      li {
        list-style: none;
        a {
          color: white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .social {
      iframe, a {
        display: block;
        padding: 0 !important;
        margin-top: 5px;
        max-height: 20px;
        max-width: 100px;
      }
    }
  }

  .search {
    .help-block { color: white; }
    .col-center-block {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .bottom {
    background-color: $dark-blue;
    padding: 5px;
    font-size: 1.1rem;
    color: rgba(255,255,255,.8);
  }
}
