@media only screen and (max-width: 600px) {
  .search-result: {
    text-align:center
  };
}

.logo-box {
  width: 200px;
  display: block;
  position: relative;
  margin: 30px auto 30px auto;
}

.peba-search {
  padding: 1.3em 0.8em 1em;
  max-width: 44em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  width: 70%;
}

#info {
  text-align:center;
  margin:15px 0;
}

#results {
  .item {
    text-align:center;
    b {
      display:block
    }
    img {
      display: inline-block;
      margin: 10px auto;
    }
    .name {
      color: #FDCA01;
    }
    .amount {
      color:#FFF;
    }
  }
}

.circle {
  height:150px;
  width: 150px;
  overflow: hidden;
  background:#FFF;
  border-radius: 75px;
  display: inline-block;
  margin:10px 0;
  text-align: center;
}

#credits {
  text-align:center;
  padding-bottom: 20px;
  a {
    display: inline-block;
    margin: 0 10px;
    color: #999;
  }
}

#search-results {
  padding-bottom: 30px;
}

.search-result {
  display: block;
  padding: 30px;
  border-bottom:1px solid #ccc;

  .circle {
    border: 2px solid white;
  }

  &:hover {
    background: #e5e5e5;
  }

  ul li {
    font-size: 17px;
  }
  .more-infos {
    margin-top: 70px;
    background: #FDCA01;
    color: #333;
    border-color: #FDCA01;
    &:hover{
      background: #D1A805;
    }
  }
}


#description {
  color: #FFF;
  margin-bottom: 20px;
  a {
    color: #FDCA01;
  }
  h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  ul {
    margin-top: 10px;
    li {
      font-size: 17px;
      ul {
        margin: 0;
        padding-left: 15px;
        li {
          margin-top: 5px;
          list-style: none;
          &:first { margin-top: 0px; }
        }
      }
    }
  }

}

#logo {
  text-align: center;
  margin-top: 30px;
}

#search-form {
  padding-top:40px;
}

#social-share {
  text-align:center;
  padding-top: 30px;
  padding-bottom: 15px;
}

#update-info{
  display: block;
  // text-align: center;
  margin-bottom: 20px;
}

#document {
  padding-top: 3.5em;
}

#search-page {
  padding-top: 0.5em;
}

#social {
  text-align: center;
  padding:10px 0;
}

#video-wrapper{
  width: 502px;
  height: 282px;
  margin: 0 auto;
}
